.wrapper {
  --padding-mobile: 24px;
  --padding-desktop: 44px 52px;
  --gap: 24px;
  --form-gap: 14px;
  --border-radius: 10px;

  padding: var(--padding-mobile);
  border: 1px solid var(--color-grey-light);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.title {
  font-family: var(--font-family-bold);
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--color-main);
}

.description {
  color: var(--color-grey);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
}

.actions {
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 1440px) {
  .wrapper {
    padding: var(--padding-desktop);
  }
}