.wrapper {
  background: url("/images/hero.jpg") center/cover no-repeat;
  min-height: calc(100vh - 72px);;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 5rem 1.5rem;
}

.title,
.description {
  color: var(--color-inputs);
}

@media (min-width: 768px) {
  .hero {
    padding: 10rem 2rem;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 16.25rem 4rem;
  }
}
